<h1>Carro de Compras</h1>
<form (ngSubmit)="addItemCompra()" #addItem="ngForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="my-select">Producto</label>
            <select id="my-select" [(ngModel)]="item.producto" class="form-control" name="producto"m>
                <option *ngFor="let producto of productos;let i = index;" [ngValue]="producto">
                    {{producto.nombre}} ${{producto.precio}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="my-input">Cantidad</label>
            <input class="form-control" [(ngModel)]="item.cantidad" type="number" min="1" max="100" name="cantidad">           
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-primary" type="submit">Agregar</button>
        </div>
    </div>
</form>