<p>Lista de compras</p>

<!-- <div>
    {{compras| json}}  
</div> -->

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let compra of compras">
      <td> {{ compra.producto.id }}</td>
      <td> {{ compra.producto.nombre }}</td>
      <td>${{ compra.producto.precio }}</td>
      <td> {{ compra.cantidad }}</td>
      <td>${{ compra.producto.precio*compra.cantidad }} </td>
      <td><button class="btn btn-primary font-weight-bold">+</button>
        <button (click)="deleteCantidadItem(item)" class="btn btn-primary font-weight-bold">-</button>
        <button (click)="removeItem(item)" class="btn btn-danger">X</button>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <p class="text-right font-weight-bold">TOTAL $ {{ total() }} </p>

</div>
